<!doctype html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    h1 { font-size: 1.8em; }
  </style>
  <body>
    <h1>An error on "<%= @site.name %>" has cleared</h1>
    <% @incident.tests.each do |test| %>
      <h3>"<%= @site.name %>" stopped failing test "<%= test %>"</h3>
      <% if test.is_a? ResponseTest %>
        <p>
          On <%= error.created_at.strftime("%-m/%-d/%Y at %H:%M") %>, <a href="<%= @site.url %>"><%= @site.url %></a> returned a <%= test.results.latest.value %> status.
          </p>
      <% elsif error.test.is_a? ResponseTimeTest %> 
        On <%= error.created_at.strftime("%-m/%-d/%Y at %H:%M") %>, <a href="<%= @site.url %>"><%= @site.url %></a> responded in <%= test.results.latest.value %>ms.
      <% else %>
        <p>
        On <%= error.created_at.strftime("%-m/%-d/%Y at %H:%M") %>, <a href="<%= @site.url %>"><%= @site.url %></a> passed the content test: <%= test %>.
        </p>
      <% end %>
    <% end %>
  </body>
</html>
