<div id="content_test">
  <header>
    <h1><%= @site.name %></h1>
  </header>

  <header>
    <h2><%= @test.comparison %> "<%= @test.content %>"</h2>
  </header>

  <div id="results">
    <ul>
    <% @test.test_statuses.each do |result|%>
      <li><%= result.result ? "OK" : "Content not found" %> - <span title="<%= result.created_at %>"><%= time_ago_in_words(result.created_at) %> ago</span></li>
    <% end %>
    </ul>
  </div>
</div>
