<header>
  <h1><%= @site.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Site", edit_site_path(@site),
      class: "btn edit" %></li>
    <li><%= link_to "Delete Site", site_path(@site),
      method: :delete,
      class: "btn delete" %></li>
  </ul>
</header>

<p><%= @site.url %></p>

<% if not @site.site_healths.empty? %>
<div id="site_performance">
  <ul>
    <li>
      <strong>Last HTTP status:</strong>
      <%= @site.site_healths.most_recent.http_response %>
    </li>
    <li>
      <strong>Last response time:</strong>
      <%= @site.site_healths.most_recent.response_time %>ms
    </li>
  </ul>
</div>
<% end %>
