<header>
  <h1><%= @site.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Site", edit_site_path(@site),
      class: "btn edit" %></li>
    <li><%= link_to "Delete Site", site_path(@site),
      method: :delete,
      class: "btn delete" %></li>
  </ul>
</header>

<p><%= @site.url %></p>

<header>
  <h2>Site Performance</h2>
</header>
<% if not @site.site_healths.empty? %>
<div id="site_performance">
  <ul>
    <li>
      <strong>Last HTTP status:</strong>
      <%= @site.site_healths.most_recent.http_response %>
    </li>
    <li>
      <strong>Last response time:</strong>
      <%= @site.site_healths.most_recent.response_time %>ms
    </li>
  </ul>
</div>
<% else %>
  <p>No performance tests run yet!</p>
<% end %>

<header>
  <h2>Content Tests</h2>

  <ul class="actions">
    <li>
      <%= link_to "New Test", new_site_content_test_path(@site),
        class: "new" %>
    </li>
  </ul>
</header>

<% if not @site.content_tests.empty? %>
<div id="content_tests">
  <ul>
    <% @site.content_tests.each do |test| %>
      <li><%= test.comparison %> "<%= test.content %>": <%= test.current_status %></li>
    <% end %>
  </ul>
</div>
<% else %>
  <p>No content tests set up.</p>
<% end %>
