<header>
  <h1><%= @site.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Site", edit_site_path(@site),
      class: "btn edit" %></li>
    <li><%= link_to "Delete Site", site_path(@site),
      method: :delete,
      class: "btn delete" %></li>
  </ul>
</header>

<p><%= @site.url %></p>

<header>
  <h2>Site Performance</h2>
</header>
<% if not @site.site_healths.empty? %>
<div id="site_performance" class="status">
  <ul>
    <li class="<%= @site.latest_status %>">
      <strong>Last HTTP status:</strong>
      <%= @site.site_healths.most_recent.http_response %>
    </li>
    <li class="response-time">
      <strong>Last response time:</strong>
      <%= @site.site_healths.most_recent.response_time %>ms
    </li>
  </ul>
  <div id="response-time-chart">
    <script>
      var margin = {top: 20, right: 20, bottom: 30, left: 50},
          width = 720 - margin.left - margin.right,
          height = 300 - margin.top - margin.bottom;
      var parseDate = d3.time.format("%Y-%m-%d-%H:%M").parse;
      var x = d3.time.scale()
              .range([0, width]);
      var y = d3.scale.linear()
              .range([height, 0]);
      var xAxis = d3.svg.axis()
                  .scale(x)
                  .orient("bottom");
      var yAxis = d3.svg.axis()
                  .scale(y)
                  .orient("left");
      var line = d3.svg.line()
                 .x(function(d) { return x(d.date); })
                 .y(function(d) { return y(d.response); });
      var svg = d3.select("#response-time-chart").append("svg")
                  .attr("width", width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
                  .append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
      d3.tsv("<%= response_times_site_path(@site, format: :tsv) %>", function(error, data) {
        if (error) throw error;

          data.forEach(function(d) {
            d.date = parseDate(d.date);
            d.response = +d.response;
            console.log('d', d);
          });

          x.domain(d3.extent(data, function(d) { return d.date; }));
          y.domain(d3.extent(data, function(d) { return d.response; }));

          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height + ")")
              .call(xAxis);

          svg.append("g")
              .attr("class", "y axis")
              .call(yAxis)
            .append("text")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text("Response Time (ms)");

          svg.append("path")
              .datum(data)
              .attr("class", "line")
              .attr("d", line);
        }); 

    </script>
  </div>
</div>
<% else %>
  <p>No performance tests run yet!</p>
<% end %>

<header>
  <h2>Content Tests</h2>

  <ul class="actions">
    <li>
      <%= link_to "New Test", new_site_content_test_path(@site),
        class: "new" %>
    </li>
  </ul>
</header>

<% if not @site.content_tests.empty? %>
<div id="content_tests" class="status">
  <ul>
    <% @site.content_tests.active.each do |test| %>
      <li class="<%= test.latest_status %>"><%= link_to test.to_s, site_content_test_path(@site, test) %></li>
    <% end %>
  </ul>
</div>
<% else %>
  <p>No content tests set up.</p>
<% end %>
