<header>
  <h1><%= @site.name %></h1>

  <ul class="actions">
    <li><%= link_to "Edit Site", edit_site_path(@site),
      class: "btn edit" %></li>
    <li><%= link_to "Delete Site", site_path(@site),
      method: :delete,
      class: "btn delete" %></li>
  </ul>
</header>

<p><%= @site.url %></p>

<header>
  <h2>Tests</h2>

  <div class="btn-group actions">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      New <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li><%= link_to "New Content Test", new_site_content_test_path(@site) %></li>
      <li><%= link_to "New Response Test", new_site_response_test_path(@site) %></li>
      <li><%= link_to "New Response Time Test", new_site_response_time_test_path(@site) %></li>
    </ul>
  </div>
</header>

<% if not @site.tests.empty? %>
<div id="content_tests" class="status">
  <ul>
    <% @site.tests.active.each do |test| %>
      <li class="<%= test_css_class(test) %>"><%= link_to test.to_s, site_test_path(@site, test) %></li>
    <% end %>
  </ul>
</div>
<% else %>
  <p>No tests set up.</p>
<% end %>
